.lang-selection {
  position: relative;
  width: rem-calc(140);
  display: none;

  .lang-selected {
    column-gap: rem-calc(12);
    line-height: 0.6;

    &:after {
      content: '';
      background-image: url("@/assets/img/svg/polygon-up.svg");
      height: rem-calc(5);
      width: rem-calc(7);
      opacity: 1;
      transform: rotate(180deg) !important;
      transition: transform 0.30s ease-in-out;
    }
  }

  .lang-selected-show {
    &:after {
      opacity: .5;
      transform: rotate(360deg) !important;
    }
  }

  .lang-list-show {
    max-height: rem-calc(334) !important;
  }

  .lang-list {
    display: block;
    position: absolute;
    background-color: $color-white-bg;
    top: rem-calc(35);
    list-style: none;
    min-width: rem-calc(184);
    border-radius: rem-calc(10);
    box-shadow: rem-calc((1, 1, 16)) rgba(44, 100, 220, 0.13);
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.20s ease-in-out;

    .lang-item:first-child {
      margin-top: rem-calc(14);
    }

    .lang-item:last-child {
      margin-bottom: rem-calc(14);
    }

    .lang-item {
      padding: rem-calc((8, 16));
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: $color-gray-emerald-bg;
      }
    }
  }
}

@media (min-width: rem-calc(768)) {
  .lang-selection {
    display: block;
  }
}