.list-type-quest {
  .item {
    height: rem-calc(72);
    padding: rem-calc((0, 16));
    display: flex;
    align-items: center;
    column-gap: rem-calc(16);

    &:hover {
      background-color: $color-white;

      .item-cycle {
        border: rem-calc(1) solid $color-button-blue;
      }
    }

    .item-cycle {
      height: rem-calc(21);
      width: rem-calc(21);
      border: rem-calc(1) solid $color-ghost;
      border-radius: 50%;
      background-color: $color-white;
    }
    .type_type {
      font-size: $font15;
      font-weight: $font-weight5;
      color: $color-black-market;

    }

    .type_description {
      font-size: $font14;
      color: $color-grey-suit;
      padding-top: rem-calc(8);
    }
  }

  .item-active {
    background-color: $color-white;
    border-radius: rem-calc(4);

    .item-cycle {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border-color: $color-button-blue;
      background-color: $color-white;

      .item-cycle_center {
        height: rem-calc(10);
        width: rem-calc(10);
        background-color: $color-button-blue;
        border-radius: 50%;
      }
    }

  }
}