.list-type-quest {
  .item {
    height: rem-calc(72);
    padding: rem-calc((0, 16));
    display: flex;
    align-items: center;
    column-gap: rem-calc(16);

    &:hover {
      background-color: #FFFFFF;

      .item-cycle {
        border: rem-calc(1) solid #2C64DC;
      }
    }

    .item-cycle {
      height: rem-calc(21);
      width: rem-calc(21);
      border: rem-calc(1) solid #C4C3CD;
      border-radius: 50%;
      background-color: #FFFFFF;
    }
    .type_type {
      font-size: $font15;
      font-weight: $font-weight5;
      color: #262342;

    }

    .type_description {
      font-size: $font14;
      color: #8F8E9C;
      padding-top: rem-calc(8);
    }
  }

  .item-active {
    background-color: #FFFFFF;
    border-radius: rem-calc(4);
    .item-cycle {
      border-radius: 50%;
      border-color: #2C64DC;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;

      .item-cycle_center {
        height: rem-calc(10);
        width: rem-calc(10);
        background-color: #2C64DC;
        border-radius: 50%;
      }
    }

  }
}