.drawer-container {
  .drawer-wrap {
    position: fixed;
    background-color: $color-white-bg;
    top: 0;
    bottom: 0;
    right: rem-calc(-270);
    width: rem-calc(238);
    z-index: 10;
    transition: right 0.2s ease-in-out;

    .drawer {
      position: relative;
      height: 100%;
      width: 100%;
      overflow-y: scroll;

      hr {
        margin: 0;
        height: rem-calc(2);
        border: 1px solid $color-border-grey-1;
      }

      .drawer-close {
        position: absolute;
        top: rem-calc(25);
        left: rem-calc(-30);
      }



    }
  }
}
.active-drawer {
  display: block;
  .drawer-wrap {
    right: 0;
  }
  .shadow-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-dark-bg;
    opacity: .7;
    z-index: 9;
  }
}

//USER COMPONENT
.user {
  height: 89px;
  width: 100%;
  background-color: #F3F4FD;
  column-gap: 14px;
  padding: 20px 24px;

  .avatar {
    height: 48px;
    width: 48px;
    .img-avatar {
      height: 100%;
      border-radius: 50px;
      object-fit: cover;
    }
  }

  .user-name {
    font-weight: 500;
    font-size: 15px;
    color: #262342;

    .firstname,
    .lastname {
      width: 125px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
    }

  }
}
//END USER COMPONENT

//LANGUAGES MENU
.languages {
  padding-left: rem-calc(24);
  padding-right: rem-calc(30);
  .selected-lang {
    height: rem-calc(48);
    column-gap: rem-calc(9);

    &:after {
      content: '';
      background-image: url("@/assets/img/svg/polygon-up.svg");
      height: rem-calc(5);
      width: rem-calc(7);
      opacity: .8;
      transform: rotate(180deg)!important;
      transition: transform 0.30s ease-in-out;
    }
  }

  .lang-list {
    height: 0;
    overflow-y: hidden;
    transition: height 0.20s ease-in-out;

    &:last-child {
      //padding-bottom: 12px;
    }
    .lang-item {
      padding: rem-calc((7, 0));
    }
  }
  .lang-list-show {
    max-height: rem-calc(300);
    height: rem-calc(300);
  }
}
//END LANGUAGES MENU

//AUTH MENU
.auth-menu {
  .auth-menu-list {
    padding: 24px 20px 30px 20px;
    .auth-menu-list-item {
      .router-link-active {
        color: #2C64DC!important;
      }
      .item-link {
        display: inline-block;
        padding: 6px 0;
        font-size: 15px;
        font-weight: 500;
        color: #262342;
      }

      .count-notify {
        padding: 2px 10px;
        background-color: #F86B6B;
        border-radius: 50px;
        color: #FFFFFF;
        font-size: 12px;
      }
    }
  }
}
//END AUTH MENU

//LIST LINKS
.list-links {
  width: 100%;
  padding: 24px 20px 30px 20px;
  .list-link-item {
    padding: 6px 0;
    .router-link-active {
      color: #2C64DC!important;
    }
    .link {
      color: #262342;
    }

  }
}
//END LIST LINKS