header {
  height: rem-calc(62);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: rem-calc(1) solid $color-border-grey-1;
  background-color: $color-white-bg;

  .left-header {
    column-gap: rem-calc(88);

    .logo-main {
      column-gap: rem-calc(8);
      img {
        height: rem-calc(30);
        width: rem-calc(32);
      }
      span {
        display: none;
      }
    }

    .laptop-menu {
      display: none;
      position: relative;
      height: rem-calc(30);
      width: rem-calc(30);
      padding: rem-calc((8, 4));

      .burger-container {
        .burger {
          height: rem-calc(14);
          width: rem-calc(21);
          display: grid;
          grid-template-columns: 1fr;
          row-gap: rem-calc(5.3);

          .svg-btn {
            .center-line,
            .last-line,
            .first-line {
              transition: transform 0.25s;
            }

          }
          .burger-active {
            .first-line {
              transform: rotate(45deg);
              transform-origin: rem-calc((1, 2));
            }
            .center-line {
              display: none;
            }

            .last-line {
              transform: rotate(-45deg);
              transform-origin: rem-calc((1, 14));
            }
          }
        }
      }

      .laptop-menu-list-show {
        max-height: rem-calc(180)!important;
      }

      .laptop-menu-list {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: rem-calc(42);
        width: rem-calc(246);
        background-color: $color-white-bg;
        list-style: none;
        box-shadow: rem-calc((4, 8, 16)) rgba(44, 100, 220, 0.12);
        border-radius: rem-calc(8);
        transition: max-height 0.20s ease-in-out;

        .laptop-menu-list-item:first-child {
          margin-top: rem-calc(18);
        }
        .laptop-menu-list-item:last-child {
          margin-bottom: rem-calc(18);
        }
        .laptop-menu-list-item {
          padding: rem-calc((9, 24));
          &:hover {
            background-color: $color-gray-emerald-bg;
          }
          a {
            color: $color-text-dark;
          }
        }
      }
    }

    .lang-selection {
      position: relative;
      width: rem-calc(140);
      display: none;
      .lang-selected {
        column-gap: rem-calc(12);
        line-height: 0.6;
        &:after {
          content: '';
          background-image: url("@/assets/img/svg/polygon-up.svg");
          height: rem-calc(5);
          width: rem-calc(7);
          opacity: 1;
          transform: rotate(180deg)!important;
          transition: transform 0.30s ease-in-out;
        }
      }

      .lang-selected-show {
        &:after {
          opacity: .5;
          transform: rotate(360deg)!important;
        }
      }

      .lang-list-show {
        max-height: rem-calc(334)!important;
      }
      .lang-list {
        display: block;
        position: absolute;
        background-color: $color-white-bg;
        top: rem-calc(35);
        list-style: none;
        min-width: rem-calc(184);
        border-radius: rem-calc(10);
        box-shadow: rem-calc((1, 1, 16)) rgba(44, 100, 220, 0.13);
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.20s ease-in-out;

        .lang-item:first-child {
          margin-top: rem-calc(14);
        }
        .lang-item:last-child {
          margin-bottom: rem-calc(14);
        }
        .lang-item {
          padding: rem-calc((8, 16));
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:hover {
            background-color: $color-gray-emerald-bg;
          }
        }
      }


    }
  }

  //NAVIGATIONS
  .crumbs {
    font-size: 13px;
    height: 100%;
    display: none;

    ol {
      list-style-type: none;
      padding-left: 0;
      height: 100%;
      margin: 0;
      .crumb {
        font-size: 13px;
        height: 100%;
        .router-link-active {
          color: #2C64DC;
          border-bottom: 2px solid #2C64DC;
        }
        a {
          height: 100%;
          color: #262342;
          box-sizing: content-box;
          &:hover {
            color: #2C64DC;
            border-bottom: 2px solid #2C64DC;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    .crumbs {
      display: block;
      ol {
        .crumb {
          &:nth-child(n+2) {
            margin-left: calc(10px + 18 * (100vw / 1920));
          }
        }
      }
    }
  }
}
//END NAVIGATIONS

@media (min-width: rem-calc(768)) {
  header {
    height: rem-calc(65);
    background-color: $color-gray-emerald-bg;
    .left-header {
      column-gap: rem-calc(30);
      .logo-main {
        img {
          height: rem-calc(32);
          width: rem-calc(37);
        }
        span {
          display: inline-block;
          font-size: $font18;
          font-weight: $font-weight5;
          color: $color-text-dark;
        }
      }
      .laptop-menu {
        display: block;
      }
      .lang-selection {
        display: block;
      }
    }

    .crumbs {}
  }
}

//AUTH GROUP
.auth {
  position: relative;
  .guest-group {
    display: none;
    column-gap: 20px;
    color: #262342;

    .sign-in,
    .sign-up {
      &:hover {
        opacity: .7;
      }
    }

    .sign-up {
      border: 1px solid #DDDEE7;
      border-radius: 52px;
      padding: 10px 20px;
    }
  }

  .user-group {

    .user {
      position: relative;
      justify-content: end;
      column-gap: 10px;
      display: none;

      &:after {
        content: url("@/assets/img/svg/vector.svg");
        transform: rotate(0deg);
        transition: transform .2s ease-in-out;
        margin-left: 4px;
        padding-right: 0;
      }

      .name {}

      .avatar {
        height: 40px;
        width: 40px;
        margin-left: 9px;

        .img-avatar {
          height: 100%;
          width: 100%;
          border-radius: 50px;
          object-fit: cover;
        }
      }
    }
  }

  .rotate-vector {
    &:after {
      transform: rotate(180deg)!important;
    }
  }
  .show-menu {
    .user-menu {
      max-height: 129px!important;
    }
  }
  .user-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    max-height: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    width: 267px;
    box-shadow: 1px 1px 16px rgba(44, 100, 220, 0.13);
    border-radius: 8px;
    transition: max-height .2s ease-in-out;
    .item {
      height: 64px;
      padding: 22px;
      column-gap: 14px;
      &:hover {
        svg {
          stroke: #2C64DC;
        }
        color: #2C64DC;
      }
      svg {
        stroke: #8F8E9C;
      }
    }
    hr {
      margin: 0;
      height: 2px;
      border: 1px solid #E4E5F1;
    }
  }
}


@media (min-width: 768px) {
  .guest-group {
    display: flex;
  }
}
//END AUTH GROUP

@media (min-width: rem-calc(992)) {
  header {
    height: rem-calc(96);

    .left-header {
      column-gap: rem-calc(88);

      .logo-main {
        img {
          height: rem-calc(41);
          width: rem-calc(48);
        }
      }

      .laptop-menu {
        display: none;
      }
    }



  }
}