.page-my-tests {
  max-width: rem-calc(1240);

  .title {
    width: 100%;
    font-size: $font18;
    font-weight: $font-weight5;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-head {
      padding: rem-calc((10, 10, 6, 10));
      svg {
        stroke: $color-button-blue;
      }
    }

    .btn-head-desktop {
      display: none;
      .button-cycle-svg {
        color: $color-button-blue;
        svg {
          stroke: $color-button-blue;
        }
      }
    }
  }

  .page-table-tests {
    padding-top: rem-calc(20);
    .table-head {
      width: 100%;
      height: rem-calc(48);
      background-color: $color-white;
      border-radius: rem-calc(14);
    }
  }
}

@media (min-width: rem-calc(768)) {
  .page-my-tests {
    .title {
      text-align: left;
      justify-content: space-between;
      font-size: $font20;
      .btn-head {
        display: none;
      }
    }

    .page-table-tests {
      padding-top: rem-calc(26);
    }
  }
}

@media (min-width: rem-calc(992)) {
  .page-my-tests {
    .title {
      .btn-head-desktop {
        display: block;
      }
    }

    .page-table-tests {
      padding-top: rem-calc(32);
      .table-head {
        height: rem-calc(72);
      }
    }
  }
}