.button-min {
  height: rem-calc(28);
  width: rem-calc(28);
  background-color: $color-white;
  border: rem-calc(1) solid $color-iris-ice;
  border-radius: rem-calc(4);
  color: $color-grey-suit;
  font-size: $font15;
  font-weight: $font-weight5;
  transition: background-color .6s;
}

@media (min-width: rem-calc(768)) {
  .button-min {
    height: rem-calc(40);
    width: rem-calc(40);
    font-size: $font17;
  }
}

@media (min-width: rem-calc(992)) {
  .button-min {
    height: rem-calc(48);
    width: rem-calc(48);
    font-size: $font19;
  }
}