.selection-type-quest {
  position: relative;
  width: 100%;
  height: 56px;
  border: 1px solid #E4E5F1;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:after {
    content: '';
    width: 6px;
    height: 4px;
    background-image: url("/assets/img/svg/polygon-up.svg");
    transform: rotate(180deg);
    opacity: .7;
  }

  .selected {
    .value {
      color: #2C64DC;
      font-weight: 500;
      font-size: 13px;
    }

    .description {
      padding-top: 3px;
      color: #8F8E9C;
      font-size: 11px;
    }
  }

  .options {
    display: none;
    position: absolute;
    width: 100%;
    top: 54px;
    left: 0;
    background-color: #FFFFFF;
    padding: 16px;
    border: 1px solid #E4E5F1;
    border-radius: 4px;

    .option {
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .marker-cycle {
        width: 21px;
        height: 21px;
        border: 1px solid #E0DFEB;
        border-radius: 50%;
      }

      &:hover {
        .marker-cycle {
          border: 1px solid #2C64DC;
        }
        .option_value {
          .option_value,
          .option_description {
            color: #2C64DC !important;
          }
        }
      }

      .option_value {
        .option_value {
          color: #262342;
          font-weight: 500;
          font-size: 13px;
        }

        .option_description {
          padding-top: 3px;
          color: #8F8E9C;
          font-size: 11px;
        }
      }

    }

    .active-option {
      .marker-cycle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #2C64DC;
        &:before {
          content: '';
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: #2C64DC;
        }
      }

      .option_value {
        .option_value, .option_description {
          color: #2C64DC;
        }
      }
    }
  }

  .show-options {
    display: block;
  }
}