.switch {
  position: relative;
  display: inline-block;
  width: rem-calc(38);
  height: rem-calc(24);

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      border: rem-calc(2) solid #2C64DC;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(rem-calc(26));
      -ms-transform: translateX(rem-calc(26));
      background-color: #2C64DC;
      transform: translateX(rem-calc(14));
      border: rem-calc(2) solid #2C64DC;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: rem-calc(34);
    border: rem-calc(2) solid #C4C3CD;

    &:before {
      position: absolute;
      content: "";
      height: rem-calc(16);
      width: rem-calc(16);
      left: rem-calc(2);
      bottom: rem-calc(2);
      background-color: #C4C3CD;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}