.auth-form {
  margin: 0 auto;
}
form {
  max-width: rem-calc(620);
  margin: 0 auto;
  height: auto;
  background-color: $color-white;
  border-radius: rem-calc(18);

  .form-title {
    font-size: rem-calc(24);
    font-weight: 500;
    text-align: center;

    .img-auth {
      width: rem-calc(90);
      height: rem-calc(115);
      background-image: url("@/assets/img/svg/auth.svg");
    }
  }

  .errors {
    font-size: $font13;
    color: $color-red;
  }

  .form-content {
    .input-row {
      display: grid;
      grid-template-columns: 1fr;
    }

    @media (min-width: rem-calc(768)) {
      .input-row {
        grid-template-columns: 1fr 1fr;
        column-gap: rem-calc(20);
      }
    }
  }

  .form-footer {
    height: rem-calc(56);
    border-top: rem-calc(1) solid $color-white-3;

  }
}