@import "variables";
@import "reboot.css";
@import "flex";
@import "containers";
@import "color";

@import "components/header";
@import "components/drawer";
@import "components/dashboard";


body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: $color-gray-emerald-bg;
  font-size: $font15;

}

.container {
  max-width: rem-calc(1920);
  margin: 0 auto;
  padding: rem-calc((0, 20));
}


.tm-main,
.tm-main-dashboard {
  display: block;
  //padding-top: rem-calc(62);
  min-height: 100vh;
  width: 100%;
}



.hover {
  &:hover {
    cursor: pointer;
  }
}

@media (min-width: rem-calc(768)) {
  .container {
    padding: rem-calc((0, 30));
  }
  .tm-main,
  .tm-main-dashboard {
    //padding-top: rem-calc(65);
  }

  .d-none-md {
    display: none;
  }
}

//SCROLL
.scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #F1F2F6;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #C4C3CD;
    &:hover {
      cursor: pointer;
    }
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #C9C8D3;
  }
}
//END SCROLL

@media (min-width: rem-calc(992)) {
  .container {
    padding: rem-calc((0, 40));
  }
  .tm-main,
  .tm-main-dashboard {
    //padding-top: rem-calc(96);
  }

  .d-none-lg {
    display: none;
  }
}

.lang-list__item-es:after,
.lang-list__item-ua:after,
.lang-list__item-ru:after,
.lang-list__item-by:after,
.lang-list__item-it:after,
.lang-list__item-it:after,
.lang-list__item-pl:after,
.lang-list__item-fr:after,
.lang-list__item-de:after,
.lang-list__item-en:after,
.lang-list__item-es:after {
  content: '';
  height: rem-calc(15);
  width: rem-calc(20);
}

.lang-list__item-ru:after {
  background-image: url("@/assets/img/svg/lang/ru.svg");
}

.lang-list__item-by:after {
  background-image: url("@/assets/img/svg/lang/by.svg");
}

.lang-list__item-it:after {
  background-image: url("@/assets/img/svg/lang/it.svg");
}

.lang-list__item-ua:after {
  background-image: url("@/assets/img/svg/lang/ua.svg");
}

.lang-list__item-pl:after {
  background-image: url("@/assets/img/svg/lang/pl.svg");
}

.lang-list__item-fr:after {
  background-image: url("@/assets/img/svg/lang/fr.svg");
}

.lang-list__item-de:after {
  background-image: url("@/assets/img/svg/lang/de.svg");
}

.lang-list__item-en:after {
  background-image: url("@/assets/img/svg/lang/en.svg");
}

.lang-list__item-es:after {
  background-image: url("@/assets/img/svg/lang/es.svg");
}


.lang-head-img-ru,
.lang-head-img-by,
.lang-head-img-it,
.lang-head-img-ua,
.lang-head-img-pl,
.lang-head-img-fr,
.lang-head-img-de,
.lang-head-img-en,
.lang-head-img-es {
  column-gap: rem-calc(10);
  height: rem-calc(15);
  width: rem-calc(20);
}

.lang-head-img-ru {
  background-image: url("@/assets/img/svg/lang/ru.svg");
}

.lang-head-img-by {
  background-image: url("@/assets/img/svg/lang/by.svg");
}

.lang-head-img-it {
  background-image: url("@/assets/img/svg/lang/it.svg");
}

.lang-head-img-ua {
  background-image: url("@/assets/img/svg/lang/ua.svg");
}

.lang-head-img-pl {
  background-image: url("@/assets/img/svg/lang/pl.svg");
}

.lang-head-img-fr {
  background-image: url("@/assets/img/svg/lang/fr.svg");
}

.lang-head-img-de {
  background-image: url("@/assets/img/svg/lang/de.svg");
}

.lang-head-img-en {
  background-image: url("@/assets/img/svg/lang/en.svg");
}

.lang-head-img-es {
  background-image: url("@/assets/img/svg/lang/es.svg");
}

