.primary-bg {
  background-color: $color-blue;
}

.bright-red-bg {
  background-color: $color-red-2;
}

.soft-navy-bg {
  background-color: $color-violet-2;
}
.light-grayish-red-bg {
  background-color: $color-brown;
}

.strong-cyan-bg {
  background-color: $color-green-2;
}

.primary-stroke {
  stroke: $color-blue;
}

.bright-red-stroke {
  stroke: $color-red-2;
}

.soft-navy-stroke {
  stroke: $color-violet-2;
}
.light-grayish-red-stroke {
  stroke: $color-brown;
}

.strong-cyan-stroke {
  stroke: $color-green-2;
}

.grey-stroke {
  stroke: $color-grey;
}



.t-dark-grey {
  color: #626167;
}

.t-dark {
  color: #262342;
}