.d-flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

@media (min-width: rem-calc(768)) {
  .d-flex-md {
    display: flex!important;
  }
}

@media (min-width: rem-calc(992)) {
  .d-flex-lg {
    display: flex!important;
  }
}