.d-flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-center-ms {
  justify-content: center;
}

.column-gam-1 {
  column-gap: rem-calc(16);
}



@media (min-width: rem-calc(768)) {
  .justify-content-center-ms {
    justify-content: inherit;
  }
  .d-flex-md {
    display: flex!important;
  }
}

@media (min-width: rem-calc(992)) {
  .d-flex-lg {
    display: flex!important;
  }
  .justify-content-center-ms {
    justify-content: inherit;
  }
}

//COLUMN-GAP
.column-gap-sm-8 {
  column-gap: rem-calc(8);
}
.column-gap-sm-10 {
  column-gap: rem-calc(10);
}

.column-gap-sm-15 {
  column-gap: rem-calc(15);
}

.column-gap-sm-20 {
  column-gap: rem-calc(20);
}

.column-gap-sm-24 {
  column-gap: rem-calc(25);
}

.column-gap-sm-25 {
  column-gap: rem-calc(25);
}

.column-gap-sm-30 {
  column-gap: rem-calc(30);
}

.column-gap-sm-31 {
  column-gap: rem-calc(31);
}

.column-gap-sm-32 {
  column-gap: rem-calc(32);
}

.column-gap-sm-35 {
  column-gap: rem-calc(35);
}

@media (min-width: rem-calc(768)) {
  .column-gap-md-10 {
    column-gap: rem-calc(10);
  }

  .column-gap-md-15 {
    column-gap: rem-calc(15);
  }

  .column-gap-md-20 {
    column-gap: rem-calc(20);
  }

  .column-gap-md-25 {
    column-gap: rem-calc(25);
  }

  .column-gap-md-30 {
    column-gap: rem-calc(30);
  }

  .column-gap-md-31 {
    column-gap: rem-calc(31);
  }

  .column-gap-md-32 {
    column-gap: rem-calc(32);
  }

  .column-gap-md-35 {
    column-gap: rem-calc(35);
  }
}

@media (min-width: rem-calc(992)) {
  .column-gap-lg-10 {
    column-gap: rem-calc(10);
  }
  .column-gap-lg-12 {
    column-gap: rem-calc(12);
  }
  .column-gap-lg-15 {
    column-gap: rem-calc(15);
  }

  .column-gap-lg-20 {
    column-gap: rem-calc(20);
  }

  .column-gap-lg-25 {
    column-gap: rem-calc(25);
  }

  .column-gap-lg-30 {
    column-gap: rem-calc(30);
  }

  .column-gap-lg-31 {
    column-gap: rem-calc(31);
  }

  .column-gap-lg-32 {
    column-gap: rem-calc(32);
  }

  .column-gap-lg-35 {
    column-gap: rem-calc(35);
  }
}
// END COLUMN-GAP

//ROW GAP
.row-gap-sm-24 {
  row-gap: rem-calc(24);
}

.row-gap-sm-8 {
  row-gap: rem-calc(8);
}

@media (min-width: rem-calc(768)) {

}

@media (min-width: rem-calc(992)) {
  .row-gap-lg-12 {
    row-gap: rem-calc(12);
  }
}
//END ROW GAP

//FLEX WRAP
.flex-wrap-sm {
  flex-wrap: wrap;
}

.flex-no-wrap-sm {
  flex-wrap: nowrap;
}

@media (min-width: rem-calc(768)) {
  .flex-no-wrap-md {
    flex-wrap: nowrap;
  }

}

@media (min-width: rem-calc(992)) {
  .flex-no-wrap-lg {
    flex-wrap: nowrap;
  }
}
//END FLEX WRAP