html {
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Forms
  ========================================================================== */
/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
    outline-offset: -2px;
    /* 2 */
    -webkit-appearance: textfield;
    /* 1 */
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
    font: inherit;
    /* 2 */
    -webkit-appearance: button;
    /* 1 */
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 360px;
    font-family: Rubik, sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
ul, menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
p {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #2C64DC;
}

a:focus{
    outline: 0;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px var(--basic-white);
    -webkit-text-fill-color: var(--basic-black);
}

input,
textarea {
    border-radius: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
}
input::placeholder,
textarea::placeholder {
    opacity: 1;
}
input:invalid,
textarea:invalid {
    box-shadow: none;
}

select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

select,
textarea,
input:matches([type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

