.filter-my-test {
  padding-left: rem-calc(5);
  padding-right: rem-calc(5);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
  column-gap: rem-calc(5);

  border-left: rem-calc(1) solid $color-hosta-flower;
  color: $color-black-market;
  font-size: $font11;
}

.active-filter {
  display: flex;
  align-items: center;
  column-gap: rem-calc(5);
  &:before {
    content: '';
    background-image: url("@/assets/img/svg/polygon-up.svg");
    height: rem-calc(8);
    width: rem-calc(8);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    opacity: .5;
  }
}

@media (min-width: rem-calc(400)) {
  .filter-my-test {
    padding-left: rem-calc(24);
    padding-right: rem-calc(24);
    column-gap: rem-calc(10);
    justify-content: center;
    font-size: $font13;
  }
}

@media (min-width: rem-calc(500)) {
  .filter-my-test {
    column-gap: rem-calc(15);
    font-size: $font15;
  }
}

.hide-filter {
  width: 0;
  padding: 0;
  border: none;
}