.search-input-group {
  width: 100%;
  height: 100%;
  padding-left: rem-calc(24);
  padding-right: rem-calc(24);
  display: flex;
  .search-input {
    width: 100%;
    height: 100%;
    font-size: $font15;
    &::placeholder {
      font-size: $font15;
      color: $color-grey-suit;
      font-style: italic;
    }
  }

  .search-btn {
    border: none;
    background: none;
    svg {
      stroke: $color-grey-suit;
    }
  }
}