.button--loading::after {
  content: "";
  position: absolute;
  width: rem-calc(16);
  height: rem-calc(16);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: rem-calc(4) solid transparent;
  border-top-color: $color-mantis;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}